@using System.Globalization

@using XmlFeedConsumer.Common
@using XmlFeedConsumer.Web.Models.Home

@model MatchViewModel

<div class="match" data-xml-id="@Model.XmlId">
    <a href="~/Matches/@Model.XmlId">
        <span class="col-md-2 match-start-date">
            @Model.StartDate.ToString("MMM dd, HH:mm", CultureInfo.InvariantCulture)
        </span>
        <span class="col-md-4 match-name">
            @(Model.Name.Length > Constants.MatchNameMaxLength ? 
                Model.Name.Substring(0, Constants.MatchNameMaxLength) + "..." : 
                Model.Name)
        </span>
        <span class="col-md-2 match-type">
            @(Model.MatchType.Length > Constants.MatchTypeMaxLength ? 
                Model.MatchType.Substring(0, Constants.MatchTypeMaxLength) + "..." : 
                Model.MatchType)
        </span>
        <span class="col-md-2 bet-name" data-xml-id="@Model.Bets.First().XmlId">
            @(Model.Bets.First().Name.Length > Constants.BetNameMaxLength ? 
                Model.Bets.First().Name.Substring(0, Constants.BetNameMaxLength) + "..." : 
                Model.Bets.First().Name)
        </span>
        <span class="col-md-1 odd-value first-odd-value" data-xml-id="@Model.Bets.First().Odds.First().XmlId">
            @Model.Bets.First().Odds.First().Value
        </span>
        <span class="col-md-1 odd-value second-odd-value" data-xml-id="@Model.Bets.First().Odds.Skip(1).First().XmlId">
            @Model.Bets.First().Odds.Skip(1).First().Value
        </span>
    </a>
</div>